{% extends 'myapp/base.html' %}
{% load static %}
{% block x1 %}

<div class="container text-center mt-5">
    <div class="card mb-3">
        <img src="{% static 'image/pexels-fauxels-3184418.jpg' %}" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h5 class="card-title">publish and edit news</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="{% url 'busness_edit' %}"  class="btn btn-primary btn-lg">Busness</a>
        </div>
      </div>
      <br>
      <hr>
      <div class="card mb-3">
        <img src="{% static 'image/pexels-shakeb-tawheed-3687322.jpg' %}" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         
             <a href="{% url 'politics_edit' %}"  class="btn btn-primary btn-lg">Politics</a>
        </div>
      </div>
</div>
{% endblock x1 %}
